{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
      <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.image) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('users.user_posts', user=post.author) }}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post._id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
      </article>
    {% endfor %}
    <form action="/home" method="post">
	    <input type="submit" name="Previous" value="Previous">
        <input type="submit" name="Next" value="Next">
        <input type="hidden" name="offset" value="{{ offset }}">
    </form>
<!--    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('main.home') }}">Previous</a>-->
<!--    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('main.home') }}">Next</a>-->
{% endblock content %}
